{% load static %}
<header class="mobile-header">
    <div class="flex justify-between items-center">
        <a href="{% url 'home' %}" class="block w-1/4">
            <img src="{% static 'images/logo-black.png' %}" alt="Logo">
        </a>
        <a href="#" id="bars" class="block w-1/8">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 18L20 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                <path d="M4 12L20 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                <path d="M4 6L20 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
            </svg>
        </a>
    </div>
</header>
<header class="desktop-header">
    <div class="hidden md:block w-25 md:w-35">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/logo-black.png' %}" alt="Logo">
        </a>
    </div>
    <nav>
        <ul class="block md:flex gap-4 items-center">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="#maria">mariahadad</a>
            </li>
            <li>
                <a href="#potfolios">potfolios</a>
            </li>
            <li>
                <a href="#contactme">contactme</a>
            </li>
        </ul>
    </nav>
    <div>
        <a href="tel:09224194485" class="header-btn">
            تماس با من
        </a>
    </div>
</header>